* {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
   &::selection{
    color: black;
    background: #19CEAB;
    }
}

body {
    background: #fff;
}

@font-face{
    font-family:Staatliches;
    src:url('../fonts/Staatliches-Regular.ttf');
}

/* Оформления ползунка */

::-webkit-scrollbar {
    width: 9px;
    background-color: rgba(0, 0, 0, .0);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #BBBBBB, #686868);
}

::-moz-scrollbar {
    width: 9px;
    background-color: rgba(0, 0, 0, .0);
}

::-moz-scrollbar-thumb {
    background: linear-gradient(0deg, #BBBBBB, #686868);
}

.main_menu {
    background: rgba(34, 34, 34, 1);
    padding: 25px;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 9;
    .center_menu {
        margin: 0px auto;
        max-width: 1100px;
        display: flex;
        .logo {
            flex: 1;
            margin: 0px 10px;
            color:white;
            font-family: lexend deca;
            font-weight: bold;
        }
        .link_menu {
            flex: 4;
            text-align: right;
            
            & a {
                color: #969495;
                text-decoration: none;
                font-weight: bold;
                font-size: 14px;
                text-transform: uppercase;
                margin-right: 10px;
                padding-bottom: 24px;
                font-family: Livvic;


                &:hover {
                    border-bottom: 1px solid #19CEAB;
                    color: #19CEAB;
                    
                }
            }
        }
    }
}

/* Mobile Menu */

.window{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.98);
    z-index: 99;
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    .close{
            position: absolute;
            color: white;
            top: 50px;
            font-size: 22px;
            right: 50px;
        }
    .center_window{
        width: 50%;
        margin: 45% auto;
        text-align: center;

        & a{
            display: block;
            font-size: 29px;
            letter-spacing: 1px;
            text-decoration: none;
            line-height: 32px;
            color:white;
            font-family:staatliches;
            &:hover{
                color: #10ac89;
                border-bottom: 1px solid #10ac89;
            }
        }
    }
}





.one_section {
    background-image: url(../img/background.jpg);
    position: relative;
    height: 600px;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
    .center_background {
        max-width: 800px;
        text-align: center;
        top: 50%;
        left: 50%;
        position: relative;
        transform: translate(-50%, -50%);
        .buttons_ {
            padding: 9px 15px;
            background: #19CEAB;
            display: inline-block;
            color: white;
            margin-right: 10px;
            border-radius: 3px;
            border-top: 3px solid #fff;
            font-family: Monda;
            cursor: pointer;
            font-size: 11px;
            font-weight: bold;
        }
    }
}

.two_section {
    width: 100%;
    font-family: Monda;
    font-weight: bold;
    .block {
        width: 25%;
        display: inline-block;
        color: #19CEAB;
        margin-right: -4px;
        background-color: #1C2A33;
        border-top: 5px solid #19CEAD;
        text-align: center;
        font-size: 13px;
        padding: 70px 0px;
        & img {
            width: 60px;
        }
    }
    .other {
        color: #fff;
        background-color: #19CEAB;
        border-top: 5px solid #fff;
    }
}

.three_block {
    width: 100%;
    background: #fff;
     padding: 0px 10px;
    .blocks_ {
        width: 29%;
        display: inline-block;
        margin: 15px;
        padding: 10px 0px;
        color: #6E6E6E;
        font-family: Livvic;
        font-size: 12px;
        .img_title {
            color: #6E6E6E;
            font-family: Livvic;
            font-weight: bold;
            display: block;
            font-size: 16px;
            &:hover {
                color: #10CEAF;
                cursor: pointer;
                transition-duration: .3s;
            }
            & img {
                width: 23px;
                margin-right: 11px;
                float: left;
            }
        }
    }
}

.mobile_menu{
    display: none;
}

.center_three {
    max-width: 900px;
    margin: 80px auto;
}

.title_three {
    text-align: center;
    color: #4E4E4E;
    font-size: 22px;
    font-family: MONDA;
    margin-bottom: 40px;
}








.our{
      background: #fafafa;
      height: 690px;
.our_works{
    
    padding: 30px 20px 0px 60px;
    position: relative;
    max-width: 1100px;
    margin: 70px auto;
    background: #fafafa;

    .block_works{
        position: relative;
        margin: 50px 0px 0px;
        width: auto;

        .work_blocks{
            display: inline-block;
            width: 24%;
            height: 160px;
            position: relative;
            margin-right: -8px;
            margin-top: -16px;
            overflow: hidden;

    &:hover .hidden_block{
        visibility: visible;
        top: 0px;
        background: #fff;
        border-top:4px solid #70DFCC;
        transition-duration:800ms;

    }
            & img{
                width: 100%;
                height: 100%;
                clear: both;

            }

        }
        .hidden_block{
            position: absolute;
            top: 160px;
            width: 100%;
            visibility: hidden;
            text-align: center;
            line-height: 30px;
            text-transform: uppercase;
            color:#2AD4B3;
            font-weight: bold;
            font-family: Monda;
            height: 100%;
            padding-top: 40px;
            font-size: 18px;

            .text_below{
                font-size: 13px;
                 font-weight: normal;
                color: #C1C1C1;
                text-transform:none;

            }

            
.icons{
position: relative;
width: 30px;
height: 30px;
line-height: 19px;
border-radius: 50%;
padding: 5px;
cursor: pointer;
display: inline-block;
margin-right: 5px;
background: #2AD4B3;


                & img{
                    width: 10px;
                  height: 10px;
                }

            } 
            .icons_lite{
                background: #fff;
                border:1px solid #2AD4B3;
               width: 30px;
height: 30px;
            }
        }

.button_load{
color: white;
padding: 9px 15px;
position: absolute;
left: 50%;
transform:translate(-70%);
border-radius: 2px;
background:#2AD4B3;
font-weight: bold;
cursor: pointer;
font-family: livvic;

    }
}

}}



/* Блок Our Service */

.our_services{
    position: relative;
    max-width: 1100px;
    display: none;
    margin: 90px auto 30px;
    padding: 10px 20px;

}



.cont {
    max-width: 1000px;
    margin: 40px auto 40px;
}

.tabs-header {
    display: flex;
    font-family: Monda;
}

.tab {
    border: 1px solid #F0F2F1;
    padding: 10px 25px;
    color: #6B6F72;
    background: #F8FCFF;
    cursor: pointer;
    
}

.tab:hover {
    background-color: #19CEAB;
    color: white;
}

.tab.active {color: white;
    background-color: #19CEAB;
}



.tab-panel {
    display: none;
    color: #858585;
    font-size: 14px;
    font-family: Livvic;
    padding: 40px 00px 20px;
}

.tab-panel img{
    float: left;
    width: 150px;
    height: 90px;
    margin-right: 10px;
} 

.tab-panel.active {
    display: block;
}



/* Блок с фоном и немного текста*/

.six_block{
    position: relative;
    width: 100%;
    background-image: url(../img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin: 0px 0px 100px;
    .center_three {
        max-width: 900px;
        text-align: center;
        color: white;
        
        padding-top: 80px;
        & span{
            color: #19CCA6;
            font-size: 30px;
            font-weight: bold;
            font-family: Monda;

        }

        .button{position: absolute;
            margin-top: 40px;
            padding: 10px 15px;
            border-radius: 3px;
            border-bottom: 2px solid white;
            cursor: pointer;
            left: 50%;
            transform:translate(-50%);
            color: white;
            background-color:#19CCA6; }
    }
}

.block_seven{
    position: relative;
    margin:20px auto 80px;
   max-width:1000px;


    

    .block_news{
       width: 235px;
        height: 200px;
        position: relative;
        background-color: #F8FCFF;
        display: inline-table;
        border: 1px solid #E8ECEF; 
        margin-right: 12px;
        margin-bottom: 12px;
        & img{
            width: 100%;
            height: 150px;
        }

        .date{
            position: absolute;
            background-color: #1F3E38;
            padding: 5px 15px;
        right: 0px;
            font-size: 13px;
            line-height: 20px;
            color: white;
            font-family: Livvic;
        }

        .name{
            position: relative;
            display: block;
            margin:5px 13px;
            color: #6C6D6F;
            font-family:Livvic;
            font-weight: bold;
        }
        .description{
            color: #919395;
            display: block;
            margin:5px 13px;
            font-family:Livvic;
           font-size: 14px;

            
        }
    }
}

._block{

        width: 25%;
        display: inline-block;
        color: #fff;
        margin-right: -4px;
        background-color: #1C2A33;
        border-top: 5px solid #19CEAD;
        text-align: center;
        line-height: 32px;
        font-size: 22px;
        font-weight: thin;
        padding: 40px 0px 30px;
        font-family: arial;
        & img {
            width: 80px;
            padding: 20px;
            border-radius: 50%;
            border: 1px solid #24D1B0;
        }
        & span{
            display: block;
               color: #19CEAD;font-family: livvic;
                 font-size: 11px;
        }
    
   
} .twos {
        
        background-color: #19CEAB;
        border-top: 5px solid #25333C;
    }


    .center_block_pricing{
        max-width: 1100px;
        padding: 20px 0px;
        margin:40px auto;
        padding: 0px 10px;

      
        .pricing_block{
            padding-bottom: 20px;
            display: inline-table;
            width: 24%;
            box-shadow: 0px 0px 10px rgba(0,0,0,.1);
            background-color: #F0F4F7;
            border-radius: 5px;
            text-align: center;
            overflow: hidden;
            margin-right: -2px;
            line-height: 35px;
            color: #808183;
            transition:all 800ms;
            position: relative;
             cursor: pointer;
            &:hover {
                box-shadow: 0px 0px 20px rgba(0,0,0,.2);
            }
            .offer{
                position: absolute;
                padding: 0px 19px ;
                transform:rotate(40deg);
                background: #19CEAB;
                height: 25px;
                line-height: 25px;
                font-size: 13px;

                color:white;
                font-family: Lexend deca;
                font-weight: bold;
                top: 5px;
                right: -19px;
            }



            &:hover .price{
                background-color: #19CEAB;
            }

             &:hover .button_pricing{
                background-color: #19CEAB;
            }

            .title_pricing{
                color: #696A6C;
                font-weight: bold;
                font-size: 19px;
                font-family: Monda;
                padding: 10px 0px;
            }


            .price{
                padding: 20px 10px;
                color: white;
                font-size: 24px;
                font-family: Livvic;
                background-color: #2D4A5A;

            }

            .button_pricing{
                padding: 10px 25px; 
                font-weight: bold;
                font-family: Livvic;
                text-transform: uppercase;
                color: #fff;
                font-size: 14px;
                cursor: pointer;
                border-radius: 3px;
                background-color: #2D4A5A;

                &:hover{
                    background-color: #19CEAB;
                }
            }


        }
    }


    .our_team{
        position: relative;
        max-width: 1000px;
        padding: 10px;
        margin: 0px auto;

        .team_block{
            width: 23%;
            margin: 0px 5px;
            display: inline-table ;
            background: #2D4A5A;
             transition:all 800ms;
             cursor: pointer;
            .img_block{
                width:100%;
                height: 220px;
                margin-bottom: 10px;
                & img{
                    width: 100%;
                    height: 100%;
                }

            }


            .text_team{
            color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: bold;

            margin: 0px 15px;
             & span{
                color: #19CEAB;
                font-size: 11px;
                margin: 5px 0px;
                display: block; 
                 font-weight: normal;
            }
            }

            &:hover {
                background: #19CEAB;
                .text_team{
                    & span{
                        color: black;
                    }
 
                } }
                .social{
                    position: relative;
                    width: 100%;
                    margin: 15px 0px -1px;
                    padding: 0px 0px;
                        & img{
                        width: 25.2%;
                        padding: 11px  11px 4px;
                        margin-right: -4px;

                        border-right: 1px solid white;
                        border-top: 1px solid white;
&:hover{
                        background: #222322;
                    }

                    }

                   }

           
        }
    }




    /* Block Отправки emnail */

    .sendEmail{
        position: relative;
        padding: 90px 0px 0px;

        display: flex;

        .map{
            flex: 4;
            background: #fafafa;
            height: 600px;

            & iframe{
                width: 100%;
                height: 100%;
            }

        }

        .email_block{
            flex:3;
             
            padding: 0px 20px;
             #form_send{
                display: block;
                & input, & textarea{
                    display: block;
                    padding: 9px 10px;
                    border: 1px solid #ddd;
                    color:  #4D4D4D;
                    background: rgba(0,0,0,.0);
                    margin-bottom: 5px;
                    width: 500px;
    
                }
                & textarea{
                    max-width:500px;
                    min-width:500px;
                    max-height: 200px;
                    min-height: 150px;
                  }
                & button{
                    border-bottom: 2px solid #ddd;
                    border-left: none;
                    border-top: none;
                    border-right: none;
                    outline: none;
                    background: #19CEAB;
                    padding: 4px 40px;
                    color: white;
                    font-family: lexend deca;
                }


             }

        }
    }


    /* FOOTER */

    #footer{
        position: relative;
        height: 500px;
        background: #1D2C33;
        width: 100%;


        .container_footer{
            max-width: 1100px;
            margin: 0px auto;
            padding: 80px 0px 0px;
            .block_footer{
                width: 23%;
                color:#88969A;
                height: 30px;
                margin:0px 8px;
                line-height: 20px;
                font-size: 14px;
                display: inline-table;
                & img{
                    width: 70px;
                    height: 60px;
                    margin: 5px;
                }

                & input{
                    background: #23353F;
                    border: none;
                    outline: none;
                    padding: 6px 10px;
                    color: #5F6A71;
                }

                .article{
                    position: relative;
                    padding: 10px 0px;
                    border-bottom: 1px solid #20343F;
                    display: block;
                    margin: 10px 0px 20px;
                    width: 100%;
                    & img{
                        width: 50px;
                        height: 50px;
                        margin: 6px 5px;
                        float: left;
                    }

                    & span{
                        font-size: 14px;
                        color: #fff;
                        display: block;
                        font-family: lexend deca;
                        font-weight: bold;
                    }
                }
            }
        }


        .copyright{
            position: absolute;
            bottom: 0px;
            background:#253841;
            width: 100%;
            height: 60px;
            font-family: arial;
            color: #aaa;
            text-align: center;
            line-height: 60px;
            font-size: 14px;



        }
    }






@media (min-width: 218px) and (max-width: 935px){

    .link_menu a{display: none;}
     .mobile_menu{
        display: block;
        color: white;
    }

    .three_block{
        .blocks_{width: 42.5%;}
        .blocks_:last-child{display: none;}
    }

        .our_works{
            .block_works{
                .work_blocks{display: block;}
        }
        
        }

        .block_seven{
           
            padding: 0px 20px;
            .block_news{
                width:47.5%;
                & img{
                    height: 180px;
                }

            }
        }


 .sendEmail{
    width: initial;
    display: block;
text-align: center;
    .email_block{
        position: absolute;
    left: 50%;
    padding-top: 50px;  padding-bottom: 50px;
    transform: translate(-50%);
        width:auto;
text-align: center;


    }
 }

        .our_team{
        .team_block{width: 22.5%;margin-bottom: 30px;
            .img_block{
                width:100%;
                height: 180px;
                margin-bottom: 10px;
                & img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        
        
    }
    #footer{display: none;}



}
